/* вторичний колір тексту #212121 */
/* основний колір тексту #757575 */
/* білий колір #FFFFFF */
/* колір акценту #2196F3 */
/* колір героя і футера #2F303A */
/* колір  фону секції #F5F4FA */
/* колір фону #F5F5F5 */
/* колір лого #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration-line: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

/* основні стилі секцій */


.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  padding: 24px 0;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.logo__wrap {
  margin: 24px 94px 24px 0;
}

.logo__header {
  color: #000000;
}


/* navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  color: var(--title-text-color);
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  gap: 50px;
}

.nav__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:hover,
.nav__item:focus {
  color: var(--accent-color);
}

.nav__item--current {
  color: var(--accent-color);
  position: relative;
  padding-bottom: 32px;
}

.nav__item--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
  left: 0;
}


.contact {
  line-height: 16.41px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  gap: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  display: flex;
}

/* hero */

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 669px;
  margin: 0 auto 30px;
}

.hero__button {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* наші переваги */

.oportunities__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.oportunities__list {
  display: flex;
  gap: 30px;
}

.oportunities__item {
  width: 270px;
  line-height: 1.71;
}

.oportunities__img {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Чим ми займаємося */

.our-work__section {
  padding: 0 0 94px;
}

.our-work__list {
  display: flex;
  gap: 30px;
}

.our-work__item {
  max-width: 370px;
  position: relative;
}

.our-work__wrap {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
}

.our-work__text {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
  line-height: calc(16 / 14);
}

/* наша команда  */

.team__section {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__meta {
  padding: 30px;
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: transparent solid 1px;
}

.team__name {
  color: var(--title-text-color);
  font-size: 16px;
  margin-bottom: 10px;
  min-width: 145px;
}

.team__position {
  min-width: 147px;
}

.team__icon-list {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-link:hover,
.team__icon-link:focus {
  background-color: var(--accent-color);
}

.team__icon-link:hover .team__icon,
.team__icon-link:focus .team__icon {
  fill: #ffffff;
}

/* Постійні клієнти */

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* футер */

.footer__section {
  padding: 60px 0;
  display: flex;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  position: relative;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff
}

.footer-contact {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  display: grid;
  gap: 9px;
}

.footer-contact__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__adress {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__item:hover,
.footer-contact__item:focus-within,
.footer-contact__adress:hover,
.footer-contact__adress:focus {
  color: var(--accent-color);
}

.footer-join__section {
  margin-left: 70px;
  margin-top: 10px;
}

.footer-join__text {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-join__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-join__icon {
  fill: #ffffff;
}

.footer-join__icon-wrap {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__icon-wrap:hover,
.footer-join__icon-wrap:focus {
  background-color: var(--accent-color);
}

.footer-form__section {
  margin-left: 120px;
  position: absolute;
  right: 15px;
  margin-top: 10px;
}

.footer-form__text {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form__email-section {
  display: flex;
  gap: 12px;
}

.footer-form__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}

.footer-form__button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: var(--accent-color);
}

.footer-form__button:hover,
.footer-form__button:focus {
  background-color: #188ce8;
}

/* portfolio */

.portfolio__button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button--current {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 370px;
}

.card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__description {
  position: relative;
  overflow: hidden;
}

.card__text-wrap {
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__text-wrap,
.card:focus-within .card__text-wrap {
  transform: translateY(-100%);
}

.card__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.card__meta {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}


.card__name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__type {
  font-size: 16px;
  line-height: calc(30 / 16);
}


/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__icon-close {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal-form__title {
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-form__contact {
  margin-top: 12px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 14px 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  cursor: text;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.modal-form__textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__input:focus+.modal-form__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms-wrap {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.modal-form__terms-label {
  display: flex;
  gap: 7px;
}

.checkbox {
  position: relative;
}

.checkbox__icon1 {
  fill: transparent;
  position: absolute;
  z-index: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon2 {
  fill: transparent;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked~.checkbox__icon1 {
  fill: #fff;
}

.checkbox__input:checked~.checkbox__icon2 {
  fill: var(--accent-color);
}

.modal-form__terms-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.modal__button {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 52px;
  border: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.modal__button:hover,
.modal__button:focus {
  background-color: #188ce8;
}