.oportunities {
  &__list {
    @include respondTo('medium') {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    @include respondTo('pre-medium') {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include respondTo('medium') {
      width: calc((100% - 30px) / 2);
    }
    @include respondTo('large') {
      width: calc((100% - 90px) / 4);
    }
  }

  &__img {
    display: flex;
    // width: 270px;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;

    @include respondTo('pre-medium') {
      text-align: center;
    }
  }

  &__text {
    line-height: 24px;
  }
}
