.our-work {
  display: none;
  @include respondTo('large') {
    display: block;
  }
  &__section {
    padding: 0 0 94px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    max-width: 370px;
    position: relative;
  }

  &__wrap {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
  }

  &__text {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    font-weight: 700;
    line-height: calc(16 / 14);
  }
}
